*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
h1{
    margin: 100px 100px 10px;
    font-size: 75px;
    text-align: center;
    color: #F2F2F2;
}
.page-name{
    font-size: 50px;
    text-align: center;
    color: #ADADAD;
}

.restaurant-selection-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.restaurant-selection {
    font-size: 30px;
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: #565F6B;
}

.search-box{
    width: 600px;
    background: #fff;
    margin: 30px auto 0;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
::placeholder {
    color: #555;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}
.cat-image {
    position: absolute;
    bottom: -20px;
    left: 92.8%;
    transform: translateX(-50%);
    z-index: -1; /* Ensure the image stays behind other content */
    width: 200px; /* Change size */
    height: auto; /* Maintain aspect ratio*/
}

.dropdown-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dropdown * {
    width: 250px;
}

.select {
    background: #4D5A6B;
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #4D5A6B solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #26489A solid;
    box-shadow: 0 0 0.8em #26489A;
}

.select:hover {
    background: #596679;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #617083;
    border: 1px
}