*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
h1{
    margin: 100px 100px 10px;
    font-size: 75px;
    text-align: center;
    color: #F2F2F2;
}
.page-name{
    font-size: 50px;
    text-align: center;
    color: #ADADAD;
}

.restaurant-selection-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.restaurant-selection {
    font-size: 30px;
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: #565F6B;
}

.search-box{
    width: 600px;
    background: #fff;
    margin: 30px auto 0;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
::placeholder {
    color: #555;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}
.cat-image {
    position: absolute;
    bottom: -20px;
    left: 92.8%;
    transform: translateX(-50%);
    z-index: -1; /* Ensure the image stays behind other content */
    width: 200px; /* Change size */
    height: auto; /* Maintain aspect ratio*/
}