/* ------------------- OVERALL STYLES ------------------- */

/*default setting for all*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*webpage background color*/
body{
    background: #262a2f;
}

/*webpage title*/
h1{
    margin: 100px 100px 10px;
    font-size: 75px;
    text-align: center;
    color: #F2F2F2;
}

/*page name*/
.page-name{
    font-size: 50px;
    text-align: center;
    color: #ADADAD;
}

/*cat animation*/
.cat-image {
    position: fixed;
    bottom: -2%;
    left: 92.8%;
    transform: translateX(-50%);
    z-index: -1;
    width: 200px;
    height: auto;
}

/* ------------------- PAGE1 STYLES ------------------- */

/*entire search box div*/
.search-box{
    width: 600px;
    background: #4D5A6B;
    margin: 30px auto 0;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 20px
}

.search-box:hover {
    background: #6C7D92;
}

/*search box top typing area*/
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

/*default search placeholder*/
::placeholder {
    color: #F2F2F2;
}

/*search box input values*/
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: #F2F2F2;
}

/*search button*/
button{
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color: #F2F2F2;
    font-size: 22px;
    cursor: pointer;
}

/*result box container*/
.result-box ul{
    border-top: 3px solid #525F6F;
    padding: 15px 10px;
}

/*result box fields*/
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: #F2F2F2;
}

.result-box ul li:hover{
    background: #4E5A6A;
}


/* ------------------- PAGE2 STYLES ------------------- */

/*restaurant selection outer div*/
.restaurant-selection-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*restaurant selection actual text*/
.restaurant-selection {
    font-size: 30px;
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: #565F6B;
}

/*dropdown container*/
.dropdown-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: 20px;
}

/*overall dropdown (both)*/
.dropdown * {
    width: 323px;
    margin-left: 10px;
    margin-right: 10px;
}

/*sorting algorithm dropdown*/
.sort * {
    width: 187px;
}

/*selected option displayed*/
.select {
    background: #4D5A6B;
    color: #F2F2F2;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #4D5A6B solid;
    border-radius: 0.5em;
    padding: 1em;
    padding-left: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

/*selected option displayed glow effect*/
.select-clicked {
    border: 3px #8795AA solid;
    box-shadow: 0 0 0.8em #8795AA;
}

/*hover effect over dropdown menu*/
.select:hover {
    background: #596679;
}

/*dropdown caret*/
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

/*dropdown caret animation*/
.caret-rotate {
    transform: rotate(180deg);
}

/*availble dropdown options container*/
.menu {
    list-style: none;
    margin-top: 0.5em;
    padding: 0.3em 0.5em;
    background: #617083;
    border: 1px #667689 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #F2F2F2;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

/*available dropdown options opened*/
.menu-open {
    display: block;
    opacity: 1;
}

/*availble dropdown options*/
.menu li {
    width: 301px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

/*availble dropdown options for sorting algorithms*/
.sort li {
    width: 164px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

/*hover effect over available dropdown options*/
.menu li:hover {
    background: #4E5A6A;
}

/*background color for selected option*/
.active {
    background: #3C424B;
}

/*button to load page 2.5*/
.page2-button {
    background-color: #4E5A6A;
    padding: 0.65em;
    height: 50px;
    border-radius: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px #4D5A6B solid;
    transition: 0.3s;
    cursor: pointer;
}

/*hover effect for button*/
.page2-button:hover {
    background-color: #586679;
}

/*clicked effect for button*/
.page2-button:active, .page2-button:focus{
    background-color: #465160;
    border: 2px #465160 solid;
}

/*sorting time result*/
.sorting-time {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: #A6C260;
    font-size: 15px;
    font-style: italic;
}

/* ------------------- PAGE2.5 STYLES ------------------- */

/*hover effect disabled on dropdowns for page 2.5*/
.disable-hover .select:hover {
    background: #4E5A6A;
    cursor: auto;
}

/*all effects disabled on button for page 2.5*/
.page2-button.disabled:hover, .page2-button.disabled:active, .page2-button.disabled:focus {
    background-color: #4E5A6A;
    cursor: default;
}

/*food menu display container*/
.category-div-outer {
    margin: 2.5em;
    display: flex;
    justify-content: center;
}

/*food menu display container*/
.category-div-inner {
    display: flex;
    justify-content: left;
    width: auto;
    min-width: 600px;
    background: #6C7D92;
    padding: 1em;
    border-radius: 0.5em;
}

/*food menu display*/
.category-div-inner ul li {
    list-style: none;
    padding: 10px 10px 10px 10px;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    color: #3D4653;
    width: auto;
    min-width: 580px;
}

.category-div-inner ul li:hover {
    background: #8094AD;
}

/* ------------------- PAGE3 STYLES ------------------- */

/*overall category breakdown container*/
.macro-div {
    background: #6C7D92;
    width: 625px;
    height: auto;
    box-sizing: border-box;
    margin: 45px auto;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

/*item name*/
.macro-div1{
    height: auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 27px;
    color: #F2F2F2;
}

/*item description*/
.macro-div2{
    width: 600px;
    height: auto;
    overflow-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    color: #2E353D;
    font-size: 12px;
    position: relative;
}

/*divider between identification and macro info*/
.divider {
    position: absolute;
    left: 50%;
    width: 560px;
    margin-top: 12px;
    border-bottom: 3px solid #525F6F;
    transform: translateX(-50%);
}

/*overall container for macro info & pie chart*/
.macro-div3{
    height: auto;
    display: flex;
    margin-top: 15px;
}

/*outer container for macros*/
.macro-div5{
    width: 35%;
    height: auto;
    padding: 15px 0px 15px 15px;
}

/*macro text*/
.macro-text {
    margin-bottom: 2px;
    margin-left: 5px;
    color: #262A30;
    height:auto;
    size: 8px;
}

/*outer container for pie chart*/
.macro-div4{
    width: 65%;
    height: auto;
    justify-content: center;
    margin-top: 40px;
}

/*inner container for pie chart*/
.pie-chart {
    justify-content: center;
}

