*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
h1{
    margin: 100px 100px 10px;
    font-size: 75px;
    text-align: center;
    color: #F2F2F2;
}
.page-name{
    font-size: 50px;
    text-align: center;
    color: #ADADAD;
}

.restaurant-selection-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.restaurant-selection {
    font-size: 30px;
    color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid white;
    background: #565F6B;
}

.search-box{
    width: 600px;
    background: #4D5A6B;
    margin: 30px auto 0;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 20px
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}


.search-box:hover {
    background: #586679;
}


input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: #F2F2F2;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: #F2F2F2;
    font-size: 22px;
    cursor: pointer;
}
::placeholder {
    color: #F2F2F2;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: #F2F2F2;
}
.result-box ul li:hover{
    background: #4E5A6A;
}
.cat-image {
    position: fixed;
    bottom: -2%;
    left: 92.8%;
    transform: translateX(-50%);
    z-index: -1; /* Ensure the image stays behind other content */
    width: 200px; /* Change size */
    height: auto; /* Maintain aspect ratio*/
}

.dropdown-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: 20px;
}

.dropdown * {
    width: 310px;
    margin-left: 10px;
    margin-right: 10px;
}

.sort * {
    width: 200px;
}



.select {
    background: #4D5A6B;
    color: #F2F2F2;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #4D5A6B solid;
    border-radius: 0.5em;
    padding: 1em;
    padding-left: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 3px #8795AA solid;
    box-shadow: 0 0 0.8em #8795AA;
}

.select:hover {
    background: #596679;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    margin-top: 0.5em;
    padding: 0.3em 0.5em;
    background: #617083;
    border: 1px #667689 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #F2F2F2;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    /*position: absolute;*/
    /*top: 3em;*/
    /*left: 50%;*/
    /*width: 100%;*/
    /*transform: translateX(-50%);*/
}


.menu li {
    width: 287px;
    height: 50px;
    /*justify-content: center;*/
    /*padding: 0.7em 0.5em;*/
    padding: 10px 10px 10px 10px;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.sort li {
    width: 177px;
    height: 50px;
    /*justify-content: center;*/
    /*padding: 0.7em 0.5em;*/
    padding: 10px 10px 10px 10px;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}


.menu li:hover {
    background: #4E5A6A;
}

.active {
    background: #31363D;
}

.menu-open {
    display: block;
    opacity: 1;
}

.macro-div {
    background: white;
    width: 1100px;
    height: auto;
    box-sizing: border-box;
    margin: 35px auto;
    overflow: auto;
    word-break: break-all;
}

.macro-div1{
    height: auto;
}

.macro-div2{
    height: auto;
}
/*Overall box for both the left and right box*/
.macro-div3{
    height: auto;
}

.macro-item-name{
    padding: 20px;
    color: black;
    justify-content: left;
}
.macro-text {
    margin-bottom: 2px;
    margin-left: 5px;
    color: black;
    height:auto;
}
/*Left box that shows the pi chart*/
.macro-div4{
    width: 50%;
    height: auto;
    float: left;
    padding: 50px;
    background: white;
    justify-content: center;
}

/*Right box that shows the macros*/
.macro-div5{
    float: right;
    width: 50%;
    height: auto;
    padding: 20px;
}
/*.macro-inner {*/
/*    background-color: black;*/
/*    max-width: 25%;*/
/*    height:auto;*/
/*    box-sizing: border-box;*/
/*        overflow: auto;*/
/*    word-break: break-all;*/

/*}*/
