<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Deconstructor</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
    <script src="https://kit.fontawesome.com/4a79a0d316.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FAST FOOD DECONSTRUCTOR</h1>
    <p class="page-name">Restaurant Selection</p>
    <div class="search-box">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search a restaurant" autocomplete="off">
            <button onclick="window.location.href = 'page2.html';"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="result-box">
<!--            <ul>-->
<!--                {% for restaurant in restaurants_list %}-->
<!--                    <li>{{ restaurant }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
        </div>
    </div>
    <script>
        const restaurants_list= JSON.parse('{{restaurants_list | tojson | safe}}');
        const resultsBox = document.querySelector(".result-box");
        const inputBox = document.getElementById("input-box");

        inputBox.onkeyup = function(){
        let result = [];
        let input = inputBox.value.trim().toLowerCase();
        if(input.length){
            result = restaurants_list.filter((keyword)=>{
                return keyword.toLowerCase().startsWith(input);
        });
    }
        display(result);
    if(!result.length) {
        resultsBox.innerHTML = '';
    }
}
    function display(result) {
    const content = result.map((list)=>{
        return "<li onclick=selectInput(this)>" + list + "</li>";
    });

    resultsBox.innerHTML = "<ul>" + content.join('') + "</ul>"
}
    function selectInput(list){
    inputBox.value = list.innerHTML
    resultsBox.innerHTML = ''
}
    </script>
        <div id="cat"></div>

    <img id="catAnimation" src="../static/Images/cat1.png" alt="cat burger" class="cat-image">
    <script>
        // List of image URLs
        const images = ["{{ url_for('static', filename='Images/cat1.png') }}", "{{ url_for('static', filename='Images/cat2.png') }}", "{{ url_for('static', filename='Images/cat4.png') }}"];

        // Initialize index to 0
        let index = 0;
        // Function to change image
        function changeImage() {
            // Update src attribute with the next image URL
            document.getElementById("catAnimation").src = images[index];
            index = (index + 1) % images.length;
        }
        // Call changeImage function every second
        setInterval(changeImage, 800);
    </script>
</body>
</html>