<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Deconstructor</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/4a79a0d316.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FAST FOOD DECONSTRUCTOR</h1>
    <p class="page-name">Nutrition Breakdown</p>
    <div class="restaurant-selection-box">
      <div class="restaurant-selection">Mcdonald's</div>
    </div>

        </script>
        <div id="cat"></div>

    <img id="catAnimation" src="../static/Images/cat1.png" alt="cat burger" class="cat-image">
    <script>
        // List of image URLs
        const images = ["{{ url_for('static', filename='Images/cat1.png') }}", "{{ url_for('static', filename='Images/cat2.png') }}", "{{ url_for('static', filename='Images/cat4.png') }}"];

        // Initialize index to 0
        let index = 0;
        // Function to change image
        function changeImage() {
            // Update src attribute with the next image URL
            document.getElementById("catAnimation").src = images[index];
            index = (index + 1) % images.length;
        }
        // Call changeImage function every second
        setInterval(changeImage, 800);
    </script>

</body>
</html>