<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Deconstructor</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/4a79a0d316.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FAST FOOD DECONSTRUCTOR</h1>
    <p class="page-name">Menu Item Selection</p>
    <div class="restaurant-selection-box">
        <div class="restaurant-selection">{{selected_restaurant}}</div>
    </div>
    <div class="dropdown-div disable-hover">
      <div class="dropdown">
        <div class="select">
          <span class="selected">{{ selected_category }}</span>
          <div class="caret"></div>
        </div>
          <div class="menu" id="restaurantCategories"></div>
      </div>
      <div class="dropdown sort">
        <div class="select">
          <span class="selected">{{ selected_sorting }}</span>
            <div class="caret"></div>
        </div>
          <ul class="menu sort">
        </ul>
      </div>
          <button class="page2-button disabled"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="sorting-time">
      <p>Results: Sorted {{ selected_category }} in {{ elapsed_time }} seconds.</p>
    </div>
    <div class="category-div-outer" id="categoryOuter">
        <div class="category-div-inner">
            <ul class="category-results" id="categoryResults">
                <!-- Add unique IDs to each list item -->
                {% for item in menu %}
                    <li id="item{{ loop.index }}" onclick="item_selected('{{ item }}')">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
        <form id="search-form" action="/item_select" method="POST">
            <input type="hidden" id="selected_item" name="selected_item">
        </form>
      </div>
    <script>
        function item_selected(item) {
            // Set the selected item value in the hidden input field
            document.getElementById("selected_item").value = item;
            // Submit the form
            document.getElementById("search-form").submit();
        }
    </script>
            <div id="cat"></div>
    <img id="catAnimation" src="../static/Images/cat1.png" alt="cat burger" class="cat-image">
    <script>
        // List of image URLs
        const catImages = ["{{ url_for('static', filename='Images/cat1.png') }}", "{{ url_for('static', filename='Images/cat2.png') }}", "{{ url_for('static', filename='Images/cat4.png') }}"];
    </script>
    <script src="{{ url_for('static', filename='cat.js') }}"></script>
</body>
</html>