<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Deconstructor</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/4a79a0d316.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FAST FOOD DECONSTRUCTOR</h1>
    <p class="page-name">Nutrition Breakdown</p>
    <div class="restaurant-selection-box">
      <div class="restaurant-selection">Mcdonald's</div>
    </div>



</body>
</html>