<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Deconstructor</title>

    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/4a79a0d316.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FAST FOOD DECONSTRUCTOR</h1>
    <p class="page-name">Nutrition Breakdown</p>
    <div class="restaurant-selection-box">
      <div class="restaurant-selection">{{ selected_restaurant }}</div>
    </div>
    <div class = "macro-div">
        <div class = "macro-div1">
            {{ item_name }}
        </div>
        <div class = "macro-div2">
            <p class = macro-description>{{ item_desc }}</p>
            <div class="divider"></div>
        </div>
        <div class = "macro-div3">
            <div class = "macro-div5">
                <p class = "macro-text"> Calories:  {{ item_cal }}</p>
                <p class = "macro-text"> Protein:  {{ item_protein }}</p>
                <p class = "macro-text"> Carbohydrates:  {{ item_carbs }}</p>
                <p class = "macro-text"> Total Fat:  {{ item_fat }}</p>
                <p class = "macro-text"> Saturated Fat:  {{ item_sfat }}</p>
                <p class = "macro-text"> Dietary Fiber:  {{ item_fiber }}</p>
                <p class = "macro-text"> Cholesterol:  {{ item_chol }}</p>
                <p class = "macro-text"> Sodium:  {{ item_sodium }}</p>
                <p class = "macro-text"> Sugar:  {{ item_sugar }}</p>
            </div>
            <div class = "macro-div4">
                <div class="pie-chart">
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                    </script>
                    <canvas id = "myChart"> </canvas>
                </div>
            </div>
        </div>
    </div>
 <div id="cat"></div>
    <img id="catAnimation" src="../static/Images/cat1.png" alt="cat burger" class="cat-image">
    <script>
        // List of image URLs
        const catImages = ["{{ url_for('static', filename='Images/cat1.png') }}", "{{ url_for('static', filename='Images/cat2.png') }}", "{{ url_for('static', filename='Images/cat4.png') }}"];
    </script>
    <script src="{{ url_for('static', filename='cat.js') }}"></script>
    <script>
        let labels = ['Carbs', 'Fats', 'Proteins'];
        let item_carbs = parseInt("{{ item_carbs }}");
        let item_fat = parseInt("{{ items_fat }}");
        let item_protein = parseInt("{{ item_protein }}");

        let itemData = [item_carbs, item_fat, item_protein];
        console.log(itemData)
        const data = {
            labels: labels,
            datasets: [{
                data: itemData,
                backgroundColor: [
                    '#475B72',
                    '#3A4B5F',
                    '#333333'
                ],
                borderWidth: 0,
                hoverOffset: 4
            }]
        };
        const backgroundColorPlugin = {
            id: 'customCanvasBackgroundColor',
            beforeDraw: (chart) => {
                const ctx = chart.ctx;
                ctx.fillStyle = '#6C7D92';
                ctx.fillRect(0, 0, chart.width, chart.height);
            }
        };
        const config = {
            type: 'doughnut',
            data: data,
            plugins: [backgroundColorPlugin],
            options: {
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {

                            padding: 30,
                            fontColor: 'rgb(255,255,255)',
                            fontFamily: "Poppins",
                    }
                },
                chartArea: {
                  backgroundColor: "rgba(0,0,0)"
                },
            }

        };

        const chart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>